/* Overrides */

:root {
    --md-primary-fg-color--dark: var(--sky500);
}
.md-header,
.md-tabs {
    background:
        -o-linear-gradient(
            340deg,
            rgba(0,0,0,0) 33%,
            rgba(0,0,0,0.2) 95%
        ),
        -o-linear-gradient(
            340deg,
            rgb(14,95,181) 33%,
            rgb(98,174,255) 95%
        );
    background:
        linear-gradient(
            110deg,
            rgba(0,0,0,0) 33%,
            rgba(0,0,0,0.2) 95%
        ),
        linear-gradient(
            110deg,
            rgb(14,95,181) 33%,
            rgb(98,174,255) 95%
        );
}
@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title[for="__drawer"],
    .md-nav--primary .md-nav__title {
        background:
            -o-linear-gradient(
                340deg,
                rgba(0,0,0,0) 33%,
                rgba(0,0,0,0.2) 95%
            ),
            -o-linear-gradient(
                340deg,
                rgb(14,95,181) 33%,
                rgb(98,174,255) 95%
            );
        background:
            linear-gradient(
                110deg,
                rgba(0,0,0,0) 33%,
                rgba(0,0,0,0.2) 95%
            ),
            linear-gradient(
                110deg,
                rgb(14,95,181) 33%,
                rgb(98,174,255) 95%
            );
    }
}
.superNav,
.md-nav__source {
    background-color: rgb(14,95,181);
    background-image: linear-gradient(
        110deg,
        rgba(0,0,0,0.15) 33%,
        rgba(0,0,0,0.15) 95%
    );
}